h1 {
  color: blue;
}

body {
  background-color: lightcyan;
  padding: 15px;
}

#formdiv {
  margin: 20px;
}
#nametext {
  width: 333px;
  height: 33px;
  font-size: 20px;
}

#date {
  width: 200px;
  height: 40px;
  font-size: 20px;
}

#submit {
  width: 163px;
  background-color: darkblue;
  color: lightblue;
  border: 5px solid black;
  height: 66px;
  font-size: 22px;
}