h1 {
  color: blue;
}

body {
  background-color: lightcyan;
}

#nametext {
  width: 333px;
  height: 33px;
  font-size: 20px;
}

#date {
  width: 200px;
  height: 40px;
  font-size: 20px;
}

#submit {
  width: 133px;
  background-color: darkblue;
  color: lightblue;
  border: 5px solid black;
  height: 60px;
  font-size: 40px;
}