h1 {
  font-size: 40px;
  color: blue;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 30px;
}
.pfont {
  font-size: 24px;
}

body {
  background-color: lightcyan;
  padding: 15px;
}

#formdiv {
  margin: 20px;
}
#nametext {
  width: 333px;
  height: 33px;
  font-size: 20px;
}

#date {
  width: 200px;
  height: 40px;
  font-size: 20px;
}

#submit {
  width: 163px;
  background-color: darkblue;
  color: lightblue;
  border: 5px solid black;
  height: 66px;
  font-size: 22px;
}

/* Formatting the magickal numbers */
.lblfont {
  font-weight: bold;
}
#textdisplay {
  font-weight: bold;
}
#bdaydisplay {
  font-weight: bold;
}
#lbllifelesson {
  color: red;
}
#lblsoulnumber {
  color: rgb(11, 11, 179);
}
#lblouternumber {
  color: darkorange;
}
#lbldestinynumber {
  color: rgb(41, 119, 41);
}